# This file is a part of NEO-WZML (github.com/irisXDR/NEO-WZML)

asyncio
aiofiles
aiohttp
aioshutil
anytree
apscheduler
aioaria2
aioqbt
beautifulsoup4
cloudscraper
curl-cffi
dnspython
fastapi
python-multipart
feedparser
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
httpx
langcodes
language-data
jinja2
lxml
motor
natsort
par2cmdline-turbo
pillow
psutil
pycountry
pymongo
wzgram==3.0.23
python-magic
pytz
qbittorrent-api
requests
speedtest-cli
telegraph
tenacity
urllib3
uvicorn
uvloop==0.21.0
xattr
yt-dlp[default,curl-cffi]
parse-torrent-name